.slider-four {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* 这部分为图片样式 */
.slider-four .slider-wrapper {
  position: relative;
  z-index: -10;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s ease;
  /* overflow: hidden; */
}
/* 这部分为按钮样式 */
.slider-four-btn-left,
.slider-four-btn-right {
  width: 70px;
  height: 70px;
  background-color: #ffffff00;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider-four-btn-left {
  left: 0;
  bottom: 50%;
}

.slider-four-btn-right {
  right: 0;
  bottom: 50%;
}
#slider-four-prev {
  font-size: 32px;
  font-weight: bolder;
}
#slider-four-prev-hover {
  position: absolute;
  font-size: 32px;
  font-weight: bolder;
  display: none;
}
#slider-four-next {
  font-size: 32px;
  font-weight: bolder;
}
#slider-four-next-hover {
  position: absolute;
  font-size: 32px;
  font-weight: bolder;
  display: none;
}

/* 此处为底部按钮 */
.sliderFour-span {
  height: 3px;
  width: 100%;
  /* background-color: pink; */
  position: absolute;
  bottom: 70px;
}

.sliderFour-span .left {
  position: absolute;
  display: inline-block;
  /* right: 30%; */
  left: 30%;
  width: 10%;
  height: 3px;
  background: #b2b2b2;
  opacity: 0.7;
  cursor: pointer;
}
.sliderFour-span .right {
  position: absolute;
  display: inline-block;
  /* left: 40%; */
  left: 40%;
  width: 10%;
  height: 3px;
  background: #b2b2b2;
  opacity: 0.7;
  cursor: pointer;
}
.sliderFour-span .right-2 {
  position: absolute;
  display: inline-block;
  left: 50%;
  /* right: 60%; */
  width: 10%;
  height: 3px;
  background: #b2b2b2;
  opacity: 0.7;
  cursor: pointer;
}
.sliderFour-span .right-3 {
  position: absolute;
  display: inline-block;
  left: 60%;
  /* right: 80%; */
  width: 10%;
  height: 3px;
  background: #b2b2b2;
  opacity: 0.7;
  cursor: pointer;
}
.sliderFour-span .left:hover,
.sliderFour-span .right:hover,
.sliderFour-span .right-2:hover,
.sliderFour-span .right-3:hover {
  background-color: #808080;
}
.sliderFour-span span.leftactive {
  opacity: 1;
  background: #ff6900;
}
